* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #161616;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/***** top section *****/
.top-section {
    height: 95vh;
    background: url("/static/img/dark1.jpg") center;
    background-size: cover;
    border-bottom: 1px groove #f5d1a5;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    margin-bottom: 30px;
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 5vh;
    letter-spacing: 1.5px;
    color: #da9f59;
}

h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1.5px;
    color: #ffe4c4;
    margin-bottom: 5vh;
}

/***** search *****/
.search-form {
    text-align: center;
    margin-block: 20px;
}

#search-input {
    background-color: rgba(22, 22, 22, 0.808);
    width: 60%;
    max-width: 500px;
    padding: 10px;
    margin-right: 5px;
    font-size: 16px;
    border: 1px solid #da9f59;
    border-radius: 5px;
    color: #ffe4c4;

}

#search-input::placeholder {
    color: #fdd4a3;
}

button {
    background-color: #da9f59;
    color: #161616;
    border-radius: 5px;
    border: none;
    padding: 9px 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 1px 1px #f8c88d;
}

button:hover {
    transform: scale(1.03);
    background-color: #e2b379;
}

.search-title {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #da9f59;
}

/***** filter *****/
.filter-section {
    background: #14141466;
    border: 1px solid #daa05948;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 20px #00000033;
    backdrop-filter: blur(10px);
    margin-top: 50px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Filter Headings */
.filter-section h3 {
    color: #f2b468;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* Input fields styling */
.filter-section input[type="number"] {
    background-color: #161616ce;
    color: #fdd4a3;
    border: 1px solid #da9f59;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 15px;
    width: 100px;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;

}

.filter-section input[type="number"]::placeholder {
    color: #fdd4a3;
}

.filter-section input[type="number"]:focus,
select:focus {
    border-color: #ffe6c7;
}

select {
    background: #161616ce;
    color: #fdd4a3;
    border: 1px solid #da9f59;
    border-radius: 5px;
    padding: 8px 10px;
    width: 200px;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.3s ease;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23da9f59' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    cursor: pointer;
}

.numbers {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.members span {
    background: #161616ce;
    color: #fdd4a3;
    border: 1px solid #da9f59;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-weight: 600;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.members input {
    position: absolute;
    opacity: 0;
}

.members input:checked+span {
    background: #da9f59;
    color: #161616;
    box-shadow: 0 0 0 2px rgba(218, 159, 89, 0.3);
}

.members span:hover {
    border-color: #f5d1a5;
}

/***** rest *****/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: #222222;
    padding: 5px;
    border: 1px groove #fdebd5;
    border-radius: 15px;
}

.card:hover {
    border: 1px solid #e2b379;
    background-color: #0e0e0e;

}

img {
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.name {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 7px 0px;
    color: #ffe4c4;
}

a {
    text-decoration: none;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 9vw;

    }

    h2 {
        font-size: 7vw;

    }
}

@media (max-width: 768px) {
    .filter-section {
        width: 90%;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 11vw;
        letter-spacing: normal;
    }

    h2 {
        font-size: 9vw;
        letter-spacing: normal;
    }

    .filter-section h3 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 9px 15px;
        letter-spacing: normal;
    }

    .numbers {
        flex-wrap: wrap;
        max-width: 200px;
        margin: 0 auto 14px;
    }
}