* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.top-section {
    height: 95vh;
    background: url("/static/img/dark1.jpg") center;
    background-size: cover;
    border-bottom: 1px groove #f5d1a5;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    margin-bottom: 30px;
}

body {
    background-color: #161616;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.filter-section {
    background: rgba(20, 20, 20, 0.4);
    border: 1px solid rgba(218, 159, 89, 0.1); /* subtle border */
    border-radius: 15px;
    color: #ffe4c4;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* subtle shadow */
    backdrop-filter: blur(10px);
    margin-top: 20vh;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Filter Headings */
.filter-section h3 {
    color: #f7b86b;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* Input fields styling */
.filter-section input[type="number"] {
    background: rgba(34, 34, 34, 0.8);
    color: #ffe4c4;
    border: 1px solid #da9f59;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 15px;
    width: 100px;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;
}

.filter-section input[type="number"]:focus {
    border-color: #ffe6c7;
    box-shadow: 0 0 0 2px rgba(255, 202, 138, 0.2);
}

/* Location dropdown styling */
select {
    background: rgba(34, 34, 34, 0.8);
    border: 1px solid #da9f59;
    border-radius: 5px;
    color: #ffe4c4;
    padding: 8px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.3s ease;
    appearance: none; /* removes default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23da9f59' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    padding-right: 30px;
}

select:focus {
    border-color: #fdebd5;
}

.numbers {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.members input {
    position: absolute;
    opacity: 0;
}

.members span {
    background: rgba(34, 34, 34, 0.8);
    border: 1px solid #da9f59;
    border-radius: 5px;
    color: #ffe4c4;
    text-align: center;
    font-size: 18px;
    width: 18px; 
    height: 18px;
    font-weight: 600;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.members input:checked+span {
    background: #da9f59;
    color: #161616;
    box-shadow: 0 0 0 2px rgba(218, 159, 89, 0.3);
}

/* Add hover effect */
.members span:hover {
    border-color: #f5d1a5;
}

/* Submit button styling */
button {
    background-color: #f5d1a5;
    border: none;
    padding: 8px 25px;
    color: #161616;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}

/* rest */
h1 {
    font-size: 5vw;
    text-align: center;
    padding-top: 5vh;
    letter-spacing: 1.5px;
    color: #da9f59;
}

h2 {
    text-align: center;
    font-size: 5vw;
    margin-top: 20px;
    letter-spacing: 1.5px;
    color: #ffe4c4;
    margin-bottom: 7vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px 150px; */
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: #222222;
    padding: 5px;
    border: 1px groove #fdebd5;
    border-radius: 15px;
    /* width: fit-content; */
}

.card:hover {
    border: 1px solid #e2b379;
    background-color: #0e0e0e;

}

img {
    border: 1px solid #ffffff;
    border-radius: 8px;
    /* width: fit-content; */
}

.name {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 7px 0px;
    color: #ffe4c4;
}

a {
    text-decoration: none;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 7vw;

    }
    h2 {
        font-size: 7vw;

    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 9vw;

    }

    h2 {
        font-size: 7vw;

    }

    .filter-section {
        width: 70%;
        margin-top: 10vh;
    }

    .filter-section h3 {
        font-size: 20px;
    }

    .flex {
        gap: 10px;
    }

    .numbers {
        flex-wrap: wrap;
        max-width: 200px;
        margin: 0 auto 14px;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 11vw;
        letter-spacing: normal;
    }

    h2 {
        font-size: 9vw;
        letter-spacing: normal;
    }

    .filter-section h3 {
        font-size: 18px;
    }
}
