<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="/static/home.css">
    <title>Groupie Tracker</title>
</head>

<body>
    <div class="top-section">
        <!-- header -->
        <a href="/">
            <h1>Groupie Tracker</h1>
        </a>
        <h2>Discover the best artists</h2>
        
        <!-- search section -->
        <form action="/" method="GET" class="search-form">
            <input type="text" name="search" id="search-input" list="search-suggestions" placeholder="Type here..." autocomplete="off">
            <datalist id="search-suggestions">
                {{range .Suggestions}}
                <option value="{{.Value}}">{{.Type}}</option>
                {{end}}
            </datalist>
            <button type="submit">Search</button>
        </form>

        <!-- filter section -->
        <div class="filter-section">
            <form action="/" method="GET">
                <div class="flex">
                    <!-- filter by creation date -->
                    <div>
                        <h3>Filter By Creation Date:</h3>
                        <input type="number" min="1957" max="2024" placeholder="Min" name="minValueDate">
                        <input type="number" min="1957" max="2024" placeholder="Max" name="maxValueDate">
                    </div>

                    <!-- filter by members -->
                    <div class="members">
                        <h3>Filter By Members:</h3>
                        <div class="numbers">
                            <label><input type="checkbox" name="nbrMembers" value="1"><span>1</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="2"><span>2</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="3"><span>3</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="4"><span>4</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="5"><span>5</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="6"><span>6</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="7"><span>7</span></label>
                            <label><input type="checkbox" name="nbrMembers" value="8"><span>8</span></label>
                        </div>
                    </div>

                    <!-- filter by first album -->
                    <div>
                        <h3>Filter By First Album:</h3>
                        <input type="number" min="1960" max="2024" placeholder="Min" name="minValueAlbum">
                        <input type="number" min="1960" max="2024" placeholder="Max" name="maxValueAlbum">
                    </div>

                    <!-- filter by location -->
                    <div>
                        <h3>Filter By Locations:</h3>
                        <select name="location" id="filter-location">
                            <option value="">-- select a location --</option>
                        </select>
                    </div>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div>
            {{if .Query}}
                {{if .Artists}}
                    <h3 class="search-title">Search Results for "{{.Query}}"</h3>
                {{else}}
                    <p class="search-title">No results found.</p>
                {{end}}
            {{end}}
        </div>
        <div class="artists">
            {{range .Artists}}
            <div class="card">
                <a href="/artist/{{.Id}}">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h3 class="name">{{.Name}}</h3>
                </a>
            </div>
            {{end}}
        </div>
    </div>
    
    <script src="/static/locationData.js"></script>
    <script>
        // filter section
        const selectTag = document.getElementById('filter-location')

        locationData.forEach(countryObj => {
            const optgroup = document.createElement('optgroup')
            optgroup.label = countryObj.country

            // Create and append city options
            countryObj.cities.forEach(city => {
                const option = document.createElement('option')
                option.value = city

                option.textContent = city.split('_').join(' ')
                optgroup.appendChild(option)
            })

            selectTag.appendChild(optgroup)
        })
    </script>
</body>

</html>